body {
  background-color: aqua;
  font-style: Georgia;
}
#heading1 {
  font-family: "Comic Sans MS";
  font-size: 60px;
  color: darkblue;
  text-align: center;
}
#heading4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: right;
  font-style: italic;
}
#sandhika {
  color: white;
}
#text {
  text-align: center;
  color: orange;
}
#text2 {
  text-align: right;
}
