body {
  font-style: Georgia;
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-size: 1900px 300px;
}
#heading1 {
  font-family: "Comic Sans MS";
  font-size: 60px;
  color: darkblue;
  text-align: center;
}
#heading4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-style: italic;
}
#sandhika {
  color: red;
}
#sandhika:hover {
  color: red;
}
#text {
  text-align: center;
  color: orange;
}
#text2 {
  text-align: right;
}
#t {
  text-decoration: none;
}
#t:hover {
  color: white;
  background-color: blue;
}
#heading3 {
  text-align: center;
}
